$subnavColor: #00668c;
$subnavHover: #00bfff;
$mainCardBg: #e7ecf0;

@mixin padding_margin_zero {
  margin: 0px;
  padding: 0px;
}

@mixin leadmainbox {
  display: flex !important;
  background-color: white !important;
  padding: 1% 1.7% 1.7% 1.8% !important;
}

.mainbox {
  padding: 18px 35px !important;
  background-color: $mainCardBg;
  box-sizing: border-box;
}
