@import "main";

// .mainbox{ 
//   padding: 18px 35px !important;
//   background-color: $mainCardBg;
//   box-sizing: border-box;
// }

@mixin tabstyle {
  background-color: white !important;
}

.new-tab {
  background-color: #cccbc8 !important;
  color: grey !important;
  border-style: none;
}

.new-tab:hover,
.new-tab:active {
  @include tabstyle;
}

@mixin padding_margin_zero{
  padding: 0px !important;
  margin: 0px !important;
}

.tabpanel{
  padding: 0px !important;
}