@import "main";

$tabRadius: 50%;

@mixin tabstyle {
  background-color: white !important;
}

.new-tab {
  display: inline-block !important;
  background-color: rgba(177, 176, 176, 0.573) !important;
  color: grey !important;
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.new-tab:nth-child(1) {
  border-radius: 0 $tabRadius 0 0;
}

.new-tab:nth-child(2),
.new-tab:nth-child(3) {
  border-radius: $tabRadius $tabRadius 0 0;
}

.new-tab:hover,
.new-tab:active {
  @include tabstyle;
}

@mixin padding_margin_zero {
  padding: 0px !important;
  margin: 0px !important;
}

.tabpanel {
  padding: 0px !important;
}
