@import "main";

.container {
  @include padding_margin_zero;
}

h1 {
  color: $subnavHover;
}

h1,
span {
  @include padding_margin_zero;
}
span {
  color: grey !important;
}

.leadboxmenu {
  @include leadmainbox;
  .add-new-btn {
    color: white;
    background-color: #00971f;
  }
  .lead-title {
    padding-left: 2%;
    padding-top: 1%;
    h1 {
      display: flex;
      flex-direction: column;
      margin: 0%;
      font-size: 1.2vw !important;
    }
    span {
      margin: 0px;
      font-size: 0.8vw !important;
    }
  }
  .stack-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .add-new-btn {
      display: inline-flex;
      max-height: 50px;
    }

    .add-new-btn:hover {
      background-color: white !important;
      box-shadow: none !important;
      color: gray;
      border: 2px #00971f solid;
      font-weight: 600 !important;
    }
  }
}

.phone-icon:hover {
  color: #00971f;
}

.delete-icon:hover {
  color: red !important;
}
// .leadtable {
//   display: flex;
//   padding: 0px 0px 30px 0px !important;
// }

.MuiTabPanel-root {
  @include padding_margin_zero;
}

.lead-container {
  @include padding_margin_zero;
}
