@import "main";

.hvr-bounce-to-top:before {
  background-color: #00bfff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.subnavbar {
  color: white;
  background-color: $subnavColor;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  .nav-link {
    display: flex !important;
    width: fit-content !important;
    .nav-icon {
      margin-right: 5% !important;
    }
    .nav-text {
      text-wrap: nowrap !important;
    }
  }
  .nav-link,
  .nav-link:active {
    padding: 0.8% 3%;
    margin-top: 10px;
    justify-content: center !important;
  }
  div {
    .nav-icon {
      display: inline-flex;
      svg {
        font-size: 31px;
      }
    }
    .nav-text {
      display: inline-flex;
      text-align: left;
      flex-direction: column;

      .nav-title {
        font-size: 16px;
      }
      .nav-count {
        color: white !important;
        font-size: 11px;
      }
    }
  }
}
