@import "main";

.Subnavlinks {
  display: inline-flex;
  text-decoration: none;
  position: fixed;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  font-size: 16px;
  position: relative;
  display: flex;
  div {
    display: inline-flex;
    flex-direction: column;
    margin: 0px;
    padding-left: 5%;
    b {
      display: block !important;
      font-size: 15px;
      padding-bottom: 1px;
    }
    span {
      padding-top: 1px;
      display: block !important;
      font-size: 12px;
      text-wrap: nowrap;
      color: white !important;
    }
  }
}

@mixin subnavLinkStyle {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $subnavHover;
}
.Subnavlinks:hover,
.Subnavlinks:active {
  @include subnavLinkStyle;
}

.toolbar {
  justify-content: center;
  background-color: $subnavColor;
  border-style: none;
  display: flex;
}

.appbar {
  background-color: white;
  box-shadow: none;
}
